* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    padding: 0 220px 0 220px;
}

header {
    background-color: #000000;
}

header a {
    color: #fff;
}

