* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

header {
    position: relative;
    padding: 14px 0;
    background-color: #000000;
}

header .container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

header .logo{
    position: relative;
    width: fit-content;
    border: 1px solid #fff;
}

header h1{
    margin: 0;
    padding: 3px 5px 3px 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #fff;
}

header img {
    position: absolute;
    left: 10px;
    top: 24px;
}

header nav {
    margin-left: 40px;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    list-style: none;
}

header a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}

header .copyright {
    margin-left: 370px;
}

#preview {
    width: auto;
    min-height: 754px;
    margin-top: -54px;
    background: url(../../assets/images/background-preview.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100% 100%;
}

#preview h2 {
    position: absolute;
    top: 70px;
    left: 85px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

#preview span {
    color: #FFEE2E;
}

#preview .circle {
    position: relative;
    width: 465px; 
    height: 465px;
    top: 65px;
    left: 590px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

#preview button {
    position: absolute;
    top: 530px;
    left: 176px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
}

#preview button p {
    width: 280px;
    margin: 0;
    padding: 16px 75px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

#backstage {
    position: relative;
    margin-top: 140px;
}

#backstage .container {
    display: flex;
    flex-direction: row;
    gap: 87px;
}

#backstage  .pict{
    width: 1120px;
    height: 403px;
    background: url(../../assets/images/bamboo-cap.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100% 100%;
}

#backstage .text {
    width: 850px;
}

#backstage h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;

}

#backstage p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

#backstage .small-p {
    margin-top: 20px;
}

#backstage .big-p {
    margin-top: 34px;
    line-height: 140%;
}

#backstage h3 {
    margin-top: 54px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

#backstage .flowers {
    position: absolute;
    bottom: -60px;
    right: 0px;
    width: 200px;
    height: 605px;
    background: url(../../assets/images/flower.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 100% 100%;
}

#pets{
    margin-top: 180px;
}

