* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

header {
    padding: 14px 0;
    background-color: #000000;
}

header .container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

header .logo{
    position: relative;
    width: fit-content;
    border: 1px solid #fff;
}

header h1{
    margin: 0;
    padding: 3px 5px 3px 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #fff;
}

header img {
    position: absolute;
    left: 10px;
    top: 24px;
}

header nav {
    margin-left: 40px;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    list-style: none;
}

header a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}

header .copyright {
    margin-left: 410px;
}
